@font-face {
   font-family: myFirstFont;
   src: url(GHOSTBUS.TTF);
}

text {
   font-family: myFirstFont;
   font-size: 20px;
}

body {
  margin:0;
  padding:0;
  overflow:hidden
}

svg {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0
}
